### 通用配置文件 ###

CONFIG_DEVEL=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"

CONFIG_CCACHE=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_LUCI_LANG_zh_Hant=y

# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

#一个脚本，用于在压缩的 zram 分区上激活交换。这\\可以通过压缩\\内存来增加可用内存。\\ \\
CONFIG_PACKAGE_zram-swap=y
#LZ4 - 快速实时压缩算法。\\\ 该软件包提供 lz4 二进制文件。
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_KERNEL_ZRAM_BACKEND_LZ4=y
CONFIG_KERNEL_ZRAM_BACKEND_LZO=y
CONFIG_KERNEL_ZRAM_DEF_COMP_LZ4=y

#多终端窗口对话
CONFIG_PACKAGE_tmux=y
#日志
CONFIG_PACKAGE_dmesg=y
#性能监控
CONFIG_PACKAGE_htop=y
#性能监控
CONFIG_PACKAGE_btop=y
#磁盘信息
CONFIG_PACKAGE_fdisk=y
#磁盘扩容
CONFIG_PACKAGE_cfdisk=y
#分区挂载
CONFIG_PACKAGE_sgdisk=y
#文件系统调校工具
CONFIG_PACKAGE_tune2fs=y
#BT下载
CONFIG_PACKAGE_ariang=y
#固态硬盘监测
CONFIG_PACKAGE_fstrim=y
#用于终端的文本编辑器
CONFIG_PACKAGE_nano-full=y
#系统监控,显示设备 - 硬件 - 温度 - 等状态
CONFIG_PACKAGE_autocore=y
#用于CPU基准测试
CONFIG_PACKAGE_coremark=y
#硬盘休眠
CONFIG_PACKAGE_hdparm=y
#硬盘硬件SMART信息
CONFIG_PACKAGE_smartmontools-drivedb=y
#显示时区
CONFIG_PACKAGE_zoneinfo-asia=y
#ACME证书
CONFIG_PACKAGE_acme-acmesh-dnsapi=y
#openssh-SFTP工具
CONFIG_PACKAGE_openssh-sftp-server=y
#用于CF的DDNS 动态域名
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
#sqm 封包打标 现状是不是完美有一些BUG
CONFIG_PACKAGE_sqm-scripts-nss=y

#主题aurora
CONFIG_PACKAGE_luci-theme-aurora=y
#主题aurora 参数设置
CONFIG_PACKAGE_luci-app-aurora-config=y
#主题argon
CONFIG_PACKAGE_luci-theme-argon=y
#主题argon 参数设置
CONFIG_PACKAGE_luci-app-argon-config=y
#CPU 频率调节 动态调节
CONFIG_PACKAGE_luci-app-cpufreq=y
#DDNS 动态域名
CONFIG_PACKAGE_luci-app-ddns=y
#终端
CONFIG_PACKAGE_luci-app-ttyd=y
#用于BT下载软件端口的程序
CONFIG_PACKAGE_luci-app-upnp=y
#远程唤醒
CONFIG_PACKAGE_luci-app-wolplus=y
#共享文件
CONFIG_PACKAGE_luci-app-samba4=y
#KSM 用于激活WINDOWS 微型服务器
CONFIG_PACKAGE_luci-app-vlmcsd=y
#多线程BT下载器
CONFIG_PACKAGE_luci-app-aria2=y
#设置自动重启
CONFIG_PACKAGE_luci-app-autoreboot=y
#通过shell脚本 自动启用或者禁用WIFI
CONFIG_PACKAGE_luci-app-wifischedule=y
#HTTPD 轻量级别WEB服务器
CONFIG_PACKAGE_luci-app-uhttpd=y
#快速反代 - 服务端
CONFIG_PACKAGE_luci-app-frps=y
#快速反代 - 用户端
CONFIG_PACKAGE_luci-app-frpc=y
#磁盘管理工具
CONFIG_PACKAGE_luci-app-diskman=y
#磁盘自动休眠
CONFIG_PACKAGE_luci-app-hd-idle=y
#IP地址自动封锁
CONFIG_PACKAGE_luci-app-banip=y
#SSL证书
CONFIG_PACKAGE_luci-app-acme=y
#ARP 用于绑定MAC 配合远程唤醒
CONFIG_PACKAGE_luci-app-arpbind=y
#USB连接打印机
CONFIG_PACKAGE_luci-app-usb-printer=y
#家长控制 屏蔽某些应用APP
CONFIG_PACKAGE_luci-app-oaf=y
#封包排队-目前有BUG
CONFIG_PACKAGE_luci-app-sqm=y
#vpn
CONFIG_PACKAGE_luci-proto-wireguard=y
#微信通知
CONFIG_PACKAGE_luci-app-wechatpush=y
#网络看门狗 检测问题自动重启
CONFIG_PACKAGE_luci-app-watchcat=y
#端口转发
CONFIG_PACKAGE_luci-app-3cat=y
#DNS
CONFIG_PACKAGE_luci-app-smartdns=y
